doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 闇音ネル歌曲列表
    meta(data-n-head='ssr', http-equiv='X-UA-Compatible', content='IE=edge')
    meta(data-n-head='ssr', charset='utf-8')
    meta(data-n-head='ssr', name='viewport', content='width=device-width, initial-scale=1')
    meta(data-n-head='ssr', data-hid='description', name='description', content='闇音ネル歌曲列表')
    meta(data-n-head='ssr', data-hid='og:type', property='og:type', content='website')
    meta(data-n-head='ssr', data-hid='og:url', property='og:url', content='https://redfire29.github.io/neru_songlist/')
    meta(data-n-head='ssr', data-hid='og:title', property='og:title', content='闇音ネル歌曲列表')
    meta(data-n-head='ssr', data-hid='og:site_name', property='og:site_name', content='闇音ネル歌曲列表')
    meta(data-n-head='ssr', data-hid='og:description', property='og:description', content='闇音ネル歌曲列表')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js')
    script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='array.js')
    script(src='pagejs.js')
  body
    #app(class="max-w-screen-md")
      .timetaglist.border-solid.border-2.mb-1.p-1
        h1.text-2xl 感謝時間軸標記：
        .taglist
          p 雨宮沙耶花
          p 哈哈捏嚕我阿姐啦
          p Mao
          p Anonymous ZY
          p 武佐オサム
          p 管理員伯伯
          p 蘋果狗茶-apple tea
      .serchbar.mb-2
        input(class="border-solid border-[1px]", type='text', v-model='searchWord')
        div(class="inline-block")
          div.search(@click="SearchSong('songName')")
            p Search Song
          div.search(@click="SearchSong('singer')")
            p Search Singer
      .songlist
        .list(v-for='songData in showSongArray')
          .dateword(v-if="get(songData, 'showDate')", @click="shList(songData)")
            p {{get(songData, 'streamName')}}
            p.text-xl {{get(songData, 'date')}}
          .song(v-for="song in get(songData, 'songList')", v-if="get(songData, 'showList') && get(song, 'showDate')")
            a(:href="get(song, 'songLink')" target='_blank')
              p
                span {{`${get(song, 'songName')} / ${get(song, 'singer')}`}}
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='tailcss.css')
